.dropdown {
  position: relative;

  &__wrap {
    &--show {
      opacity: 1;
      transform: scaleZ(1);
    }

    position: absolute;
    top: 100%;

    opacity: 0;
    transform: scaleZ(0);
    transition-duration: 0.3s;
    overflow: hidden;
  }
}