$bg-primary: #3748AA;
$bg-dark: #273795;
$bg-secondary: #28389a;
$bg-light: #FFFFFF;

$green: #0BAF4F;
$orange: #FF6700;

$text-primary: #3748AA;
$text-light: #FFFFFF;
$text-secondary: #A5AFEC;

$border-light: #FFFFFF;
$border-primary: #3748AA;